:root {
    --color-white: #FCFCFF;
    --color-light-grey: #AAB0B3;
    --color-grey: #616466;
    --color-dark-grey: #787879;
    --color-orange: #E87421;
    --color-red: #FE4747;
    --color-light-blue: #F3FBFF;
    --color-blue: #33A4FF;
    --color-black: #313233;
}