:root {
    --border-size: 1px;

    /// ---------------------
    /// FORM
    /// ---------------------
    --form-radius: 11px;
    --input-height: 3rem;

    /// ---------------------
    /// BUTTON
    /// ---------------------
    --button-radius: 0.409em;
}